<!-- <div class="container-fluid"> -->
    <!-- <div class="text-center page-header container-fluid" -->
      <!-- style="font-family:Times; background-color: #eeeeff">       -->
      <!-- <h1>Архітектура міста Львова</h1> -->
    <!-- </div> -->
 <!-- </div> -->
 
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a class="nabar-brand" href="/">
			<p class="text-primary">
				<span class="glyphicon glyphicon-arrow-left"></span>
				<strong>Архітектура міста Львова</strong>
			</p>
		</a>
	</div>
</nav>